@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Raleway", sans-serif;
  font-size: 1rem;
}
html {
  scroll-behavior: smooth;
}
body {
  width: 100%;
  height: auto;
  overflow-x: hidden;
}
:root {
  --red: #ea2127;
  --blue: #023f87;
  --transition: all 0.5s linear;
  --radius: 4px;
}
h1 {
  font-size: 2rem;
  margin: 0;
}
h2 {
  font-size: 1.5rem;
  margin: 0;
}
p {
  margin: 0;
}
img {
  width: 100%;
  height: auto;
  object-fit: cover;
}
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.logo {
  max-width: 400px;
}
.right-logo {
  max-width: 200px;
}
.navbar {
  z-index: 10;
  overflow: hidden;
  transition: var(--transition);
  position: sticky;
  top: 0;
  width: calc(100% - 16px);
}
.navbar.stick {
  top: 8px;
  background: rgba(255, 255, 255, 0.25);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: var(--radius);
  border: 1px solid rgba(255, 255, 255, 0.18);
}
.navbar ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 8px;
  list-style-type: none;
  padding: 0;
  margin: 0;
  width: 100%;
}
.navbar ul li a {
  color: #000;
  text-transform: capitalize;
  text-align: center;
  text-decoration: none;
  display: block;
  transition: var(--transition);
  position: relative;
}
.navbar ul li a.active {
  color: var(--red) !important;
}
.carousel-item img {
  height: calc(100vh - 84.8px - 39.99px);
}
.title {
  text-align: center;
}
.title h1 {
  text-transform: uppercase;
  color: var(--blue);
  border-bottom: 2px solid var(--red);
  display: inline-block;
  font-weight: bold;
}
.button {
  padding: 8px 24px;
  outline: none;
  border: none;
  text-transform: capitalize;
  color: #fff;
  background: linear-gradient(45deg, var(--blue), var(--red));
  transition: var(--transition);
  border-radius: var(--radius);
  position: relative;
  overflow: hidden;
  /*  */
  background-size: 300% 100%;
  -o-transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  background-image: linear-gradient(
    to right,
    var(--blue),
    var(--red),
    var(--red),
    var(--blue)
  );
  box-shadow: 0 4px 15px 0 #ea21284f;
  border: 2px solid transparent;
}
.button:hover {
  background-position: 100% 0;
  -o-transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
.presentation-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 420px;
  align-items: center;
  justify-content: center;
  gap: 8px;
}
.presentation-grid .presentation-card {
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  flex-direction: column;
  height: 100%;
  border: 1px solid #eee;
  padding: 8px;
  border-radius: var(--radius);
  overflow: hidden;
}
.presentation-grid .presentation-img {
  border-radius: var(--radius);
  overflow: hidden;
  position: relative;
  width: 100%;
  transition: var(--transition);
}
.presentation-grid .presentation-img img {
  height: 200px;
}
.presentation-img .overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1.5);
  opacity: 0;
  width: 100%;
  height: 100%;
  background: #00000080;
  z-index: 1;
  display: grid;
  place-items: center;
  transition: var(--transition);
}
.presentation-img:hover .overlay {
  transform: translate(-50%, -50%) scale(1);
  opacity: 1;
}
.presentation-border {
  border-left: 5px solid var(--blue);
  padding-left: 8px;
  border-radius: var(--radius);
}
.overlay p {
  color: #fff;
}
.owl-carousel .item img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}
.agendaButton.active,
.ppButton.active,
.launchButton.active,
.mediaGalleryButton.active,
.awards-button.active {
  background: var(--red);
  border: 2px solid var(--blue);
}
.subtitle {
  text-align: center;
}
.subtitle h2 {
  text-transform: uppercase;
  color: var(--blue);
}
.scrolltotop {
  position: fixed;
  bottom: 10px;
  right: 10px;
  z-index: 9;
  padding: 4px;
}
.scrolltotop img {
  width: 30px;
  height: 30px;
  filter: invert(1);
}
.awards-bg {
  background: linear-gradient(to top, #00000080, #00000080),
    url("https://images.pexels.com/photos/17805250/pexels-photo-17805250/free-photo-of-black-and-white-photograph-of-a-snowy-mountain.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2")
      center no-repeat;
  background-size: cover;
  background-attachment: fixed;
  border-radius: var(--radius);
}
.glass-table {
  background: rgba(255, 255, 255, 0.25) !important;
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37) !important;
  backdrop-filter: blur(4px) !important;
  -webkit-backdrop-filter: blur(4px) !important;
  border-radius: var(--radius) !important;
  border: 1px solid rgba(255, 255, 255, 0.18) !important;
  overflow: hidden;
}
.glass-table th,
.glass-table td {
  background-color: rgba(255, 255, 255, 0.1);
  color: #000;
  padding: 10px;
  border: none;
  color: #fff;
}

.glass-table thead th {
  background-color: rgba(255, 255, 255, 0.3);
}

.glass-table-hover tbody tr:hover {
  background-color: rgba(255, 255, 255, 0.2);
}
.table {
  min-width: 576px;
}
.overflow-container {
  overflow-x: auto;
}
.overflow-container::-webkit-scrollbar {
  opacity: 0;
}
.table {
  border: 2px solid var(--blue) !important;
}

.table-bordered td,
.table-bordered th {
  border: 2px solid var(--blue) !important;
  transition: var(--transition);
}
.table-bordered th {
  background: var(--blue);
  color: #fff;
}
.table-hover tbody tr:hover td {
  background-color: #02408734 !important;
}

.table-hover tbody tr:hover th {
  background-color: var(--blue) !important;
  color: white !important;
}
.agenda-button-flex,
.pragati-button-flex,
.media-button-flex {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}
.agenda-button-flex button {
  width: 155px;
}
.pragati-button-flex button {
  width: 115px;
}
.launches-button-flex {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  align-items: center;
  justify-content: center;
  gap: 8px;
}
.media-button-flex button {
  width: 90px;
}
.awards-button-flex {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}
.awards-button-flex button {
  width: 225px;
}
.seniors-flex {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 350px;
  align-items: center;
  justify-content: space-between;
  gap: 8px;
}
.seniors-flex .seniors-card {
  height: 100%;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  padding: 8px;
  background: #eee;
  border: 1px solid transparent;
  border-radius: var(--radius);
  transition: var(--transition);
  cursor: pointer;
}
.seniors-flex .seniors-card:hover {
  box-shadow: #959da533 0px 8px 24px;
  border: 1px solid #959da533;
}
.seniors-flex .seniors-card img {
  width: 200px;
  height: 200px;
  margin: 0 auto;
  aspect-ratio: 1;
  border-radius: 50%;
}
.right-side {
  width: 50px;
}
.openbtn {
  width: 50px;
  height: 50px;
  position: relative;
  cursor: pointer;
}

.openbtn span {
  display: inline-block;
  position: absolute;
  width: 45%;
  left: 14px;
  height: 3px;
  border-radius: var(--radius);
  background: #000;
  transition: var(--transition);
  &:nth-of-type(1) {
    top: 17px;
  }
  &:nth-of-type(2) {
    top: 25px;
  }
  &:nth-of-type(3) {
    top: 33px;
  }
}

.openbtn.active span {
  &:nth-of-type(1) {
    top: 18px;
    left: 14px;
    transform: translateY(6px) rotate(-45deg);
    width: 40%;
  }
  &:nth-of-type(2) {
    opacity: 0;
  }
  &:nth-of-type(3) {
    top: 30px;
    left: 14px;
    transform: translateY(-6px) rotate(45deg);
    width: 40%;
  }
}
footer {
  background: var(--blue);
  color: #fff;
  text-align: center;
}
.photo-modal-container {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 0);
  opacity: 0;
  pointer-events: none;
  transition: var(--transition);
  z-index: 11;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
  /*  */
  background: rgba(255, 255, 255, 0.25) !important;
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37) !important;
  backdrop-filter: blur(4px) !important;
  -webkit-backdrop-filter: blur(4px) !important;
}
.photo-modal-container.active {
  transform: translate(-50%, -50%);
  opacity: 1;
  pointer-events: all;
}
.photo-modal-container .photo-box {
  width: calc(100% - 16px);
  height: calc(100% - 100px);
  overflow: hidden;
  border-radius: var(--radius);
  margin: 0 auto;
}
.photo-modal-container .photo-box img {
  height: 100%;
}
.close {
  cursor: pointer;
}
.close img {
  width: 20px;
  height: 20px;
}
