@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Raleway", sans-serif;
  font-size: 1rem;
}
html {
  scroll-behavior: smooth;
}
body {
  width: 100%;
  height: auto;
  overflow-x: hidden !important;
}
:root {
  --red: #ea2127;
  --blue: #023f87;
  --transition: all 0.5s linear;
  --radius: 4px;
  --shadow: #0000003d 0px 3px 8px;
}
h1 {
  font-size: 2rem;
  margin: 0;
}
h2 {
  font-size: 1.5rem;
  margin: 0;
}
p {
  margin: 0;
}
img {
  width: 100%;
  height: auto;
  object-fit: cover;
}
.header2 {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.logo {
  max-width: 400px;
}
.right-logo {
  max-width: 200px;
}
.navbar {
  z-index: 10;
  overflow: hidden;
  transition: var(--transition);
  position: sticky;
  top: 0;
  width: calc(100% - 16px);
  background: var(--blue);
  width: 100% !important;
}
.navbar.stick {
  top: 0;
  box-shadow: var(--shadow);
}
.navbar .nav-links {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 8px;
  list-style-type: none;
  padding: 0;
  margin: 0;
  width: 100%;
}
.navbar .nav-links li a {
  color: #fff;
  padding: 8px;
  text-transform: capitalize;
  text-align: center;
  text-decoration: none;
  display: block;
  transition: var(--transition);
  position: relative;
  border-radius: 50px;
}
.navbar .nav-links li a.active {
  background-color: var(--red);
  box-shadow: var(--shadow);
  color: #fff;
}
.carousel-item img {
  height: calc(100vh - 84.8px - 39.99px);
}
.title {
  text-align: center;
}
.title h1 {
  text-transform: capitalize;
  color: var(--blue);
  border-bottom: 2px solid var(--red);
  display: inline-block;
  font-weight: bold;
}
.button {
  padding: 8px 24px;
  outline: none;
  border: none;
  text-transform: capitalize;
  color: #fff;
  transition: var(--transition);
  border-radius: 50px;
  position: relative;
  /*  */
  -o-transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  background: var(--blue);
  box-shadow: var(--shadow);
  border: 2px solid transparent;
}
.button-flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 8px;
  margin: 0 auto;
}
.button:hover {
  background: var(--red);
  -o-transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
.presentation-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 420px;
  align-items: center;
  justify-content: center;
  gap: 8px;
}
.presentation-grid .presentation-card {
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  flex-direction: column;
  height: 100%;
  border: 1px solid var(--blue);
  padding: 8px;
  border-radius: var(--radius);
  overflow: hidden;
}
.presentation-grid .presentation-card a {
  border: 1px solid var(--blue);
}
.presentation-grid .presentation-img {
  border-radius: var(--radius);
  overflow: hidden;
  position: relative;
  width: 100%;
  transition: var(--transition);
}
.presentation-grid .presentation-img img {
  height: 200px;
}
.presentation-img .overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1.5);
  opacity: 0;
  width: 100%;
  height: 100%;
  background: #00000080;
  z-index: 1;
  display: grid;
  place-items: center;
  transition: var(--transition);
}
.presentation-img:hover .overlay {
  transform: translate(-50%, -50%) scale(1);
  opacity: 1;
}
.presentation-border {
  border-left: 5px solid var(--blue);
  padding-left: 8px;
  border-radius: var(--radius);
}
.overlay p {
  color: #fff;
}
.owl-carousel .item {
  background: var(--blue);
  padding: 4px;
  border-radius: var(--radius);
}
.owl-carousel .item p {
  color: #fff;
}
.owl-carousel .item img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}
.arrow-button {
  position: relative;
}
.arrow-button::before {
  content: "";
  width: 20px;
  height: 20px;
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translate(-50%, 50%);
  transition: var(--transition);
  /*  */
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid var(--red);
  opacity: 0;
}
.arrow-button.active::before {
  opacity: 1;
  transform: translate(-50%, 100%);
}
.agendaButton.active,
.ppButton.active,
.launchButton.active,
.mediaGalleryButton.active,
.awards-button.active {
  background: var(--red);
}
.subtitle {
  text-align: center;
}
.scrolltotop {
  position: fixed;
  bottom: 10px;
  right: 10px;
  z-index: 9;
  padding: 4px;
}
.scrolltotop img {
  width: 30px;
  height: 30px;
  filter: invert(1);
}
.awards-bg {
  background: linear-gradient(to top, #00000080, #00000080),
    url("https://images.pexels.com/photos/17805250/pexels-photo-17805250/free-photo-of-black-and-white-photograph-of-a-snowy-mountain.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2")
      center no-repeat;
  background-size: cover;
  background-attachment: fixed;
  border-radius: var(--radius);
}
.table {
  min-width: 576px;
  background: rgba(255, 255, 255, 0.25);
  box-shadow: var(--shadow);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 10px;
  overflow: hidden;
  border: 1px solid rgba(255, 255, 255, 0.18);
  text-align: center;
}
th,
td {
  padding: 16px 8px !important;
}
th {
  background: var(--blue) !important;
  color: #fff !important;
}
.table-striped > tbody > tr:nth-of-type(odd) > * {
  --bs-table-color-type: var(--bs-table-striped-color);
  --bs-table-bg-type: var(--bs-table-striped-bg);
}
.overflow-container {
  overflow-x: auto;
}
.overflow-container::-webkit-scrollbar {
  opacity: 0;
}
.agenda-card {
  background: var(--blue);
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 8px;
  border-radius: 10px;
  padding: 16px;
  margin-bottom: 8px;
}
.agenda-card .button {
  background-color: var(--red);
}
.agenda-button-flex,
.pragati-button-flex,
.media-button-flex {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}
.agenda-button-flex button {
  width: 155px;
}
.pragati-button-flex button {
  width: 115px;
}
.launches-button-flex {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  align-items: center;
  justify-content: center;
  gap: 8px;
}
.media-button-flex button {
  width: 95px;
}
.awards-button-flex {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}
.awards-button-flex button {
  width: 225px;
}
.seniors-flex {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 350px;
  align-items: center;
  justify-content: space-between;
  gap: 8px;
}
.seniors-flex .seniors-card {
  height: 100%;
  text-align: center;
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  flex-direction: column;
  padding: 8px;
  background: #fff;
  border: 2px solid var(--blue);
  border-radius: var(--radius);
  transition: var(--transition);
  cursor: pointer;
}
.seniors-flex .seniors-card:hover {
  box-shadow: var(--shadow);
  border-color: var(--red);
}
.seniors-flex .seniors-card img {
  width: 200px;
  height: 200px;
  margin: 0 auto;
  aspect-ratio: 1;
  border-radius: 50%;
}
.seniors-card .senior-details {
  background: var(--blue);
  padding: 8px;
  border-radius: var(--radius);
  width: 100%;
}
.seniors-card .senior-details p {
  color: #fff;
}
.right-side {
  width: 50px;
}
.openbtn {
  width: 50px;
  height: 50px;
  position: relative;
  cursor: pointer;
}

.openbtn span {
  display: inline-block;
  position: absolute;
  width: 45%;
  left: 14px;
  height: 3px;
  border-radius: var(--radius);
  background: #fff;
  transition: var(--transition);
  &:nth-of-type(1) {
    top: 17px;
  }
  &:nth-of-type(2) {
    top: 25px;
  }
  &:nth-of-type(3) {
    top: 33px;
  }
}

.openbtn.active span {
  &:nth-of-type(1) {
    top: 18px;
    left: 14px;
    transform: translateY(6px) rotate(-45deg);
    width: 40%;
  }
  &:nth-of-type(2) {
    opacity: 0;
  }
  &:nth-of-type(3) {
    top: 30px;
    left: 14px;
    transform: translateY(-6px) rotate(45deg);
    width: 40%;
  }
}
footer {
  background: var(--blue);
  color: #fff;
  text-align: center;
}
.photo-modal-container {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 0);
  opacity: 0;
  pointer-events: none;
  transition: var(--transition);
  z-index: 11;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
  /*  */
  background: rgba(255, 255, 255, 0.25) !important;
  box-shadow: var(--shadow);
  backdrop-filter: blur(4px) !important;
  -webkit-backdrop-filter: blur(4px) !important;
}
.photo-modal-container.active {
  transform: translate(-50%, -50%);
  opacity: 1;
  pointer-events: all;
}
.photo-modal-container .photo-box {
  width: calc(100% - 16px);
  height: calc(100% - 100px);
  overflow: hidden;
  border-radius: var(--radius);
  margin: 0 auto;
}
.photo-modal-container .photo-box img {
  height: 100%;
}
.close {
  cursor: pointer;
}
.close img {
  width: 20px;
  height: 20px;
}
.prizes-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: 350px;
  grid-auto-columns: 350px;
  align-items: center;
  justify-content: space-between;
  gap: 8px;
}
.prizes-grid .prizes-card {
  width: 100%;
  height: 100%;
  padding: 8px;
  background: linear-gradient(45deg, var(--blue), var(--red));
  color: #fff;
  text-align: center;
  border-radius: var(--radius);
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: space-evenly;
  position: relative;
}
.prizes-grid .prizes-card::before {
  content: "";
  width: 100px;
  height: 100px;
  position: absolute;
  top: 8px;
  right: 8px;
  filter: invert(1);
  opacity: 0.25;
  transform: rotate(16deg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.prizes-grid .prizes-card:nth-child(1)::before {
  background-image: url(./images/1st.png);
}
.prizes-grid .prizes-card:nth-child(2)::before {
  background-image: url(./images/2nd.png);
}
.prizes-grid .prizes-card img {
  aspect-ratio: 1;
  border-radius: 50%;
  max-width: 100px;
  margin: 0 auto;
}
.prizes-grid .second {
  margin-top: 100px;
}
.stall {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  justify-content: space-between;
  gap: 16px;
}
.stall .stall-left {
  max-height: 400px;
  overflow: hidden;
  border-radius: var(--radius);
}
.stall .stall-left img {
  aspect-ratio: 1;
}
.special-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  align-items: center;
  justify-content: center;
  gap: 8px;
}
.special-card {
  width: 100%;
  height: 200px;
  text-align: center;
  border: 1px solid var(--blue);
  border-radius: var(--radius);
  padding: 8px;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: space-between;
  gap: 8px;
}
.special-details {
  background: var(--blue);
  padding: 8px;
  color: #fff;
  width: 100%;
  border-radius: var(--radius);
}
.special-card img {
  width: 75px;
  height: 75px;
  margin: 0 auto;
  object-fit: cover;
  border-radius: 50%;
}
.leadership-section .leadership-flex:nth-child(odd) {
  border-right: 5px solid var(--blue);
}
.leadership-section .leadership-flex:nth-child(even) {
  border-left: 5px solid var(--red);
}
.leadership-flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 16px;
  background: #eee;
  padding: 8px;
  border-radius: var(--radius);
}
.leadership-flex .leadership-left {
  width: 200px;
  min-width: 200px;
  border-radius: var(--radius);
  overflow: hidden;
}
.leadership-flex .leadership-left img {
  width: 100%;
  aspect-ratio: 1;
}
.leadership-section .leadership-flex:nth-child(even) {
  flex-direction: row-reverse;
}
.modal-body iframe {
  border-radius: var(--radius) !important;
}
.modal-iframe,
.modal-img {
  width: 100%;
  height: calc(100vh - 200px);
}
/*  */
.masonry {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-auto-rows: 10px;
  grid-gap: 16px;
  padding: 16px;
}
.masonry-item {
  border-radius: 8px;
  overflow: hidden;
}
.masonry-item img {
  width: 100%;
  height: 100%;
}
.masonry-item:nth-child(odd) {
  grid-row: span 10;
}
.masonry-item:nth-child(even) {
  grid-row: span 15;
}
.content-container {
  width: 100vw;
  position: relative;
}
.banner-carousel {
  width: 100%;
  max-width: 100vw;
  overflow: hidden;
  margin: 0 auto;
}
.banner-content {
  position: absolute;
  width: 400px;
  max-width: 400px;
  padding: 16px;
  background: #00000080;
  border-radius: var(--radius);
  box-shadow: var(--shadow);
  top: 50%;
  left: 50px;
  transform: translate(0, -50%);
  z-index: 5;
  color: #fff;
}
.banner-item {
  position: relative;
  height: calc(100vh - 39.99px - 84.79px - 55.98px);
}
.banner-item img {
  width: 100%;
  height: inherit;
  display: block;
}
.header1 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 8px;
  box-shadow: var(--shadow);
}
.header1 ul {
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 16px;
}
.header1 ul li a {
  color: #000;
}
.icon-flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 8px;
}
ul {
  margin-bottom: 0;
}
.social-icons {
  display: none;
  align-items: center;
  justify-content: center;
  gap: 16px;
  list-style-type: none;
  margin: 0 auto;
  padding: 0;
  margin-top: 16px;
}
